---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/geologica";
---

<Layout>
  <h1>New Webvis landing page coming soon!</h1>
</Layout>

<style>
  body {
    margin: 0;
    font-family: "Geologica Variable", sans-serif;
    display: flex;
    height: 100vh;
  }
  h1 {
    text-align: center;
  }
</style>
