---
import Layout from "../layouts/Layout.astro";
// Supports weights 100-900
import "@fontsource-variable/geologica";
---

<Layout>
  <div>
    <h1>Webvis: Info Popup Privacy Policy</h1>
    <p>Test</p>
  </div>
</Layout>

<style>
  div {
    font-family: "Geologica Variable", sans-serif;
  }
</style>
